*,::before,::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{ 
    background-color: rgb(238,238, 238);
    
    
}



main{
    position: relative;
    width: 500px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    margin:  auto;
    margin-top: 180px;
padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;


}
main>h1{
    margin-bottom: 10px;
    color:rgb(59, 116, 186);
    font-weight: 600;
}
main>p{
    margin-bottom: 10px;
    color: rgb(163, 163, 163);
}

main::after{
    content:"A+";
    position: absolute;
    bottom: -10px;
    right:20px;
    color:white;
    background-color:rgb(59, 116, 186);
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: bold;
   
}
main img{
    position: absolute;
    top:-110px;
    left: 35%;
}
 
.links{
    border-top: 1px solid rgb(238,238, 238);
    width: 80%;
}
section{
    margin-top: 20px; 
    padding : 10px 20px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(238,238, 238);
}
.fillers{
    border: 2px dotted wheat;
    background-color:white;
    margin: 10px;
    height: 500px;
}
.top{
    position: sticky; 
    font-size: 2rem; 
    top: calc(100vh - 100px);
    display: inline-block;
    right: 0;
border: 2px solid red;
}